<!DOCTYPE html>
<html>
  <head>
    <title>AutoRepairs</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 <body style = "background-image:url('<%= background_image_url %>'); background-size:cover">
  <div class="container">
	<div class="jumbotron" style="opacity: 0.6;background-color: cornsilk;">
	<h2><b> Welcome to Auto Repair </b></h2>
	</div>
	<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
	  <%= yield %>
	  </div>
  </body>
</html>
